/* NavBar.css */

/* Animacja rozwijania menu */
.navbar-collapse {
	transition:
		max-height 0.3s ease-in-out,
		opacity 0.3s ease-in-out;
	max-height: 0;
	opacity: 0;
	overflow: hidden; /* Ukrywa to co wychodzi poza wysokość */
}

/* Stan otwarty */
.navbar-collapse.show {
	max-height: 500px; /* Wystarczająco dużo, żeby zmieścić menu */
	opacity: 1;
}

/* Na desktopie (duże ekrany) resetujemy te style, bo tam menu jest zawsze widoczne */
@media (min-width: 992px) {
	.navbar-collapse {
		max-height: none;
		opacity: 1;
		overflow: visible;
	}
}

/* Animowany Hamburger (zmienia się w X) */
.navbar-toggler {
	border: none !important; /* Usuwa ramkę */
	padding: 0;
	width: 30px;
	height: 30px;
	position: relative;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.navbar-toggler:focus {
	box-shadow: none !important; /* Usuwa niebieską poświatę po kliknięciu */
}

.hamburger-lines {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #333;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

/* Pozycje kresek hamburgera */
.hamburger-lines:nth-child(1) {
	top: 0px;
}
.hamburger-lines:nth-child(2) {
	top: 10px;
}
.hamburger-lines:nth-child(3) {
	top: 20px;
}

/* Stan otwarty (zamiana w X) */
.navbar-toggler.open .hamburger-lines:nth-child(1) {
	top: 10px;
	transform: rotate(135deg);
}

.navbar-toggler.open .hamburger-lines:nth-child(2) {
	opacity: 0;
	left: -60px;
}

.navbar-toggler.open .hamburger-lines:nth-child(3) {
	top: 10px;
	transform: rotate(-135deg);
}
